In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
# importing the dataset 
df=pd.read_csv('housing.csv')

In [4]:
df.info

<bound method DataFrame.info of         price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking furnishingstatus
0                no             yes        2        furnished
1                no             yes        3        furnished
2                no              no        2   semi-furnished
3                no             yes        3        furnished
4                no             yes        2        furnished
..              ...             ...      ...              ...
540              no              no        2      unfurnished
541              no              no        0   semi-furnished
542              no              no        0      unfurnished
543              no              no        0        furnished
544              no              no        0      unfurnished

[545 rows x 12 columns]>

In [6]:
df.shape

(545, 12)

In [7]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,furnished

In [8]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
furnishingstatus    object
dtype: object

In [9]:
#Checking for null values 
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
furnishingstatus    0
dtype: int64

In [10]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [11]:
df['furnishingstatus'].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [12]:
df['mainroad'].unique()

array(['yes', 'no'], dtype=object)

In [13]:
df['guestroom'].unique()

array(['no', 'yes'], dtype=object)

In [14]:
df['basement'].unique()

array(['no', 'yes'], dtype=object)

In [15]:
df['hotwaterheating'].unique()

array(['no', 'yes'], dtype=object)

In [16]:
df['airconditioning'].unique()

array(['yes', 'no'], dtype=object)

In [17]:
#Encoding=Converting Categorical to numerical
from sklearn.preprocessing import LabelEncoder

In [18]:
le=LabelEncoder()

In [19]:
df["furnishingstatus"]=le.fit_transform(df['furnishingstatus'])

In [21]:
df["mainroad"]=le.fit_transform(df['mainroad'])
df["guestroom"]=le.fit_transform(df['guestroom'])
df["basement"]=le.fit_transform(df['basement'])
df["hotwaterheating"]=le.fit_transform(df['hotwaterheating'])
df["airconditioning"]=le.fit_transform(df['airconditioning'])

In [23]:
df.shape

(545, 12)

In [24]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  furnishingstatus  545 non-null    int64
dtypes: int64(12)
memory usage: 51.2 KB

In [26]:
y=df['price']
x=df.drop(columns=["price"],axis=1)

In [27]:
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,0
1,8960,4,4,4,1,0,0,0,1,3,0
2,9960,3,2,2,1,0,1,0,0,2,1
3,7500,4,2,2,1,0,1,0,1,3,0
4,7420,4,1,2,1,1,1,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,2
541,2400,3,1,1,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,2

In [28]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [29]:
#Scaling independent features
from sklearn.preprocessing import StandardScaler

In [30]:
name=x.columns

In [31]:
scale=StandardScaler()

In [32]:
x=scale.fit_transform(x)

In [33]:
x

array([[ 1.04672629,  1.40341936,  1.42181174, ...,  1.4726183 ,
         1.51769249, -1.40628573],
       [ 1.75700953,  1.40341936,  5.40580863, ...,  1.4726183 ,
         2.67940935, -1.40628573],
       [ 2.21823241,  0.04727831,  1.42181174, ..., -0.67906259,
         1.51769249, -0.09166185],
       ...,
       [-0.70592066, -1.30886273, -0.57018671, ..., -0.67906259,
        -0.80574124,  1.22296203],
       [-1.03338891,  0.04727831, -0.57018671, ..., -0.67906259,
        -0.80574124, -1.40628573],
       [-0.5998394 ,  0.04727831, -0.57018671, ..., -0.67906259,
        -0.80574124,  1.22296203]])

In [34]:
x=pd.DataFrame(x,columns=name)

In [35]:
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,1.046726,1.403419,1.421812,1.378217,0.405623,-0.465315,-0.734539,-0.219265,1.472618,1.517692,-1.406286
1,1.757010,1.403419,5.405809,2.532024,0.405623,-0.465315,-0.734539,-0.219265,1.472618,2.679409,-1.406286
2,2.218232,0.047278,1.421812,0.224410,0.405623,-0.465315,1.361397,-0.219265,-0.679063,1.517692,-0.091662
3,1.083624,1.403419,1.421812,0.224410,0.405623,-0.465315,1.361397,-0.219265,1.472618,2.679409,-1.406286
4,1.046726,1.403419,-0.570187,0.224410,0.405623,2.149083,1.361397,-0.219265,1.472618,1.517692,-1.406286
...,...,...,...,...,...,...,...,...,...,...,...
540,-0.991879,-1.308863,-0.570187,-0.929397,0.405623,-0.465315,1.361397,-0.219265,-0.679063,1.517692,1.222962
541,-1.268613,0.047278,-0.570187,-0.929397,-2.465344,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,-0.091662
542,-0.705921,-1.308863,-0.570187,-0.929397,0.405623,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,1.222962
543,-1.033389,0.047278,-0.570187,-0.929397,-2.465344,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,-1.406286
544,-0.599839,0.047278,-0.570187,0.224410,0.405623,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,1.222962

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

#model building

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
model=LinearRegression()

In [40]:
model

LinearRegression()

In [41]:
model.fit(x_train,y_train)

LinearRegression()

In [42]:
pred=model.predict(x_test)

In [43]:
pred

array([ 4130485.81157512,  5951629.29605473,  4493296.54353272,
        7780433.96281394,  2889973.78705373,  7363347.86089152,
        3305453.71240391,  3183735.32926522,  2870669.15110932,
        8667784.23517628,  6855584.77571023,  3912231.71957891,
        3950706.37799032,  4967222.32060846,  4227263.05053569,
        1957043.8694037 ,  4234806.79975857,  3783048.83430772,
        3322342.80946076,  4762611.34903236,  6301684.24187683,
        6686567.8521852 ,  4803173.15534444,  2725565.83775742,
        4981094.7749616 ,  6002154.03323216,  4931557.20886866,
        5653505.15565481,  5918906.1869429 ,  5484328.31840539,
        3394692.78101427,  5613665.83642399,  6823856.64204786,
        3021889.46603105,  4469536.60652045,  5255330.89824818,
        5225810.41766367,  3832135.90379033,  3054328.68223337,
        4099284.65283762,  8393400.53933588,  5198130.87753675,
        6667121.71334807,  3817227.46104522,  3210941.01557783,
        6544628.01013035,  4746442.99347779,  2815091.45849861,
        4328200.04403289,  6140495.37001634,  4101365.03050491,
        7523609.57308683,  2637361.19283988,  3030373.61210504,
        3680051.99140765,  4608501.48083962,  7458731.31602658,
        4175267.24822939,  2958773.08420649,  4697735.31934034,
        6436789.93194987,  6438416.28929504,  3327607.98967514,
        7470597.25281799,  2632200.78994624,  5303330.83400443,
        7023393.39561308,  2599735.41784929,  4071654.46962766,
        5139619.23513587,  3846650.17716924,  7506478.19910547,
        4676674.3637098 ,  6006682.25596481,  4362816.99166698,
        4102191.07011627,  2952419.92031445,  7922530.89598723,
        2633913.99258755,  3073333.92884416,  3846650.17716924,
        6304679.35407908,  5391055.31916932,  5689209.05430444,
        3957013.15623318,  4223776.97234341,  4704957.14682566,
        5354658.37125825,  4134484.29932139,  4542611.58934957,
        3387336.01470503,  5567261.9793339 ,  3239927.72347958,
        3761587.65749713,  3994543.09009389, 10874286.28393665,
        3053124.82456224,  6590657.13873703,  4629566.45189598,
        4809999.78220031,  6859163.68501713,  3314917.96930854,
        4713044.7455681 ,  3552126.87296362,  6934615.45180923,
        5309926.25800916,  4324358.57639438,  5014271.42734737,
        5949073.92608907])

In [44]:
y_test

239    4585000
113    6083000
325    4007500
66     6930000
479    2940000
        ...
76     6650000
132    5810000
311    4123000
464    3080000
155    5530000
Name: price, Length: 109, dtype: int64

In [45]:
E=pred-y_test
E

239   -4.545142e+05
113   -1.313707e+05
325    4.857965e+05
66     8.504340e+05
479   -5.002621e+04
           ...
76     2.846155e+05
132   -5.000737e+05
311    2.013586e+05
464    1.934271e+06
155    4.190739e+05
Name: price, Length: 109, dtype: float64

In [46]:
from sklearn.metrics import r2_score

In [47]:
r2_score(pred,y_test)*100

59.9189239451688